$sidebar-open-size: 220px;
$sidebar-thin-size: 35px;
body {
  background: #E7EBEE;
}
.pane-header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.layout-master {
  position: relative;
  display: table;
  width: 100%;
  @include transition(all .2s ease);
  &.is-open-bar {
    left: 0;
  }
  &.is-off-canvas {
    left: -$sidebar-open-size;
    // width: // set in layout.ts
  }
  &.is-thin-bar {
    .layout-sidebar {
      width: $sidebar-thin-size;
      .link {
        span {
          display: none;
        }
      }
    }
  }
}
.layout-sidebar {
  display: table-cell;
  vertical-align: top;
  width: $sidebar-open-size;
  @include transition(width .2s);
}
.sidebar-inner {
  margin: 10px;
}
.layout-content {
  display: table-cell;
  vertical-align: top;
}
.layout-footer {
  padding: 10px;
}
.preference-pane {
  width: 300px;
  box-shadow: 0 2px 2px #ccc;
  border: none;
  input[type=radio] {
    width: 12px;
    margin-right: 0;
  }
}
