


// overrides go before import
@import 'mixins';
@import 'variables';

@import 'theme/imports/layouts';
@import 'theme/imports/sidebar';
@import 'theme/imports/header';

@import 'bootstrap_override';

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

@import 'bootstrap_elem_overrides';

@import 'forms';
@import 'angular_form';
@import 'layout';


th, td {
  font-family: 'Helvetica neue',arial, Helvetica, sans-serif;
}
.pagination {
  margin-top:0;
}
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:0;
}
body {
  background: #d4d8dc;
}
.s-main {
  box-shadow: 0 3px 3px #ccc;
  background: #E7EBEE;
}

.global-search {
  margin:.5rem 1rem 0 1rem;
   input {
     margin:0;
   }
   .form-group {
     margin-bottom:0;
   }
}
.nav-pad {
  margin:.9rem 1.2rem 0 1.2rem;
}
