<form>
  <fieldset (window:resize)="windowResize($event)">
    <legend>Sidebar preference</legend>
    <label class="c-input c-radio">
      <input type="radio" name="sidebar-preference" id="offside" (click)="changeLayout(0)" [checked]="layoutSchema===0">
      <span class="c-indicator"></span>
      Auto Hide
    </label>
    <label class="c-input c-radio">
      <input type="radio" name="sidebar-preference" id="autohide" (click)="changeLayout(1)" [checked]="layoutSchema===1">
      <span class="c-indicator"></span>
      Always Open
    </label>
    <label class="c-input c-radio">
      <input type="radio" name="sidebar-preference" id="alwaysopen" (click)="changeLayout(2)" [checked]="layoutSchema===2">
      <span class="c-indicator"></span>
      Off Canvas
    </label>
    <label class="c-input c-radio">
      <input type="radio" name="sidebar-preference" id="alwaysopen" (click)="changeLayout(3)" [checked]="layoutSchema===3">
      <span class="c-indicator"></span>
      Bar
    </label>
  </fieldset>
</form>
